@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

* {
  user-select: none;
  outline: none;
}

body {
  background-color: black;
}
